

# Ignorer dossiers d'environnement et caches
venv/
node_modules/
__pycache__/

# Ignorer fichiers pycache partout
**/__pycache__/
**/*.pyc

# Ignorer fichiers personnels et de configuration
identifiant.json